<h3 style="color: #FF4433;">Pennode Users</h3>
<p> Glad you joined us:</p>
<p> Current Users: <ul style="color: orange;"> <% @users.each { |user| %> <li> <%= link_to user[:name], user_path(user) %> </li>  <% } %> </ul> </p>