<h3 style="color: #FF4433;"> User Profile</h3>
<%= render partial: 'user', layout: 'shared/box', locals: { user: @user, posts: @current_user_posts } %>
<h3> <%= link_to 'View posts',user_posts_path(@posts) if @posts %> </h3>
