<footer style="background: rgba(255, 213, 128, 0.3); width: 100%; height: 10vh; text-align: center; padding: 5px;">
<h1 style="color: #F08000;"> With love from Pennode &copy; <%= Date.today.year %> </h1>
</footer>