<header style="background: rgba(255, 213, 128, 0.1); width: 100%; height: 30vh;">
<h1 style="color: #F08000;  text-align: center;"> Welcome to Pennode </h1>
<ul style="list-style-type: none; padding: 10px;">
  <li>Home</li>
  <li>About Us</li>
  <li>Contact Us</li>
</ul>
</header>