<h1 style="color: #FF4433;"> Create Post </h1>
<%=  render partial: 'form', locals: { post: post, current_user: current_user, parsed_url: user_posts_path, parsed_action: :post } %>
<h3 style="color: #FF4433;"><%= link_to 'Back posts ', user_posts_path %></h3>